<div ng-show="isView('findTickets')">
  <table class="table">
    <tr>
      <td class="borderless"><img alt="Seating Chart" src="/image/seating-chart.jpg" class="image img-rounded img-responsive"></img></td>
    </tr>
    <tr>
      <td class="borderless">
			  <uib-tabset id="tabset" vertical="true" type="pills">
			    <uib-tab ng-repeat="level in levels" id="{{level.id}}" ng-click="setLevel(level); pushView('holdDetails')" heading="{{level.name}} ({{level.price | currency : $ : 2}})" uib-tooltip="{{level.available}} tickets available"></uib-tab>
			  </uib-tabset>
      </td>
    </tr>
  </table>
</div>